- zipped!

In [12]:
a = zip('1234', '3456')

In [13]:
a

In [14]:
a

In [15]:
list(a)

[('1', '3'), ('2', '4'), ('3', '5'), ('4', '6')]

In [16]:
a

In [17]:
list(a)

[]

In [18]:
b = zip(['1234', '3456'])

In [19]:
list(b)

[('1234',), ('3456',)]

In [26]:
b = zip(['1234', '3456'])

In [21]:
*b

SyntaxError: can't use starred expression here (Temp/ipykernel_26076/2754346888.py, line 1)

In [22]:
print(*b)

('1234',) ('3456',)

In [23]:
sum(map(int, [1.3, 2.0, 3.0]))

6

In [27]:
for _ in b:
    print(_)

('1234',)
('3456',)

In [9]:
print(zip([1, 2, 3, 4, 5, 6], 'Hacker'))

<zip object at 0x000001F8FDD07500>

In [10]:
print(*zip([1, 2, 3, 4, 5, 6], 'Hacker'))

(1, 'H') (2, 'a') (3, 'c') (4, 'k') (5, 'e') (6, 'r')

In [11]:
list(a)

[]

In [24]:
sum(3, 6, 5)

TypeError: sum() takes at most 2 arguments (3 given)

In [ ]:
N, T = map(int, input().split())

scores = [list(map(float, input().split())) for _ in range(T)]
scores = list(zip(*scores))

scores_average = map(lambda x: sum(x)/T, scores)
print(*scores_average, sep = '\n')

In [ ]:
### 예시답안 
scores = []
n, x = map(int, input().split())
for i in range(x):
    scores.append(list(map(foat, input().split())))
print(*[sum(student)/len(student) for student in zip(*scores)], sep = '\n')

#### ?! wtf i thought for loop doesn't work with zip object

In [25]:
for student in zip('123', '456'):
    print(student)

('1', '4')
('2', '5')
('3', '6')

#### oh my it works it was just because zip object b's content has already been used in the previous command

- any or all

In [ ]:
N = int(input())
tests = [(list(num) == list(num)[::-1]) and (num > 0) for num in map(int, input().split())]

In [ ]:
N = int(input())
numbers = list(map(int, input().split()))

if all(num > 0 for num in numbers):
    if any(list(num) == list(num)[::-1]):
        print(True)
    else:
        print(False)
else:
    print(False)

In [28]:
list(345)

TypeError: 'int' object is not iterable

# 입력코드 (1)

In [ ]:
N = int(input())
numbers = input().split()

if all(int(num) > 0 for num in numbers):
    if any(list(num) == list(num)[::-1]):
        print(True)
    else:
        print(False)
else:
    print(False)

# 입력코드 (2) >> it works!

In [ ]:
N = int(input())
numbers = input().split()

if all(int(num) > 0 for num in numbers):
    if any(list(num) == list(num)[::-1] for num in numbers):
        print(True)
    else:
        print(False)
else:
    print(False)

# 입력코드 (3)

In [ ]:
N= int(input())
numbers = input().split()
print(True if all(int(num) > 0 for num in numbers) 
      and any(list(num) == list(num)[::-1] for num in numbers)
      else False)

In [ ]:
### 예시답안 
N, m = int(input()), input().split()
print(all([int(i) > 0 for i in n]) and any([j==j[::-1] for j in n]))

- python evaluation

In [ ]:
expression = str(input())
print(eval(expression))

In [29]:
eval('print(2 + 3)')

5

In [30]:
print(eval('print(2 + 3)'))

5
None

In [31]:
eval('2+3')

5

In [32]:
'a' in 'apple'

True

# 입력코드 (1)

In [ ]:
import re
expression = str(input())

if re.match('print[(].*[)]', re.MULTILINE):
    eval(expression)
else:
    print(eval(expression))

# 입력코드 (2)

In [ ]:
import re
expression = str(input())

if re.match('print[(].*[)]', expression, re.MULTILINE):
    eval(expression)
else:
    print(eval(expression))

- athlete sort

# 입력코드 (1) > this works!

In [ ]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n, m = map(int, input().split())
    arr = [list(map(int, input().rstrip().split())) for _ in range(n)]
    k = int(input())

sorted_arr = sorted(arr, key = lambda  x: x[k])

for element in sorted_arr:
    print(*element, sep = ' ')

In [33]:
numbers = [[3, 6, 7], [10, 1, 2], [5, -1, 0], [3, 3, 3]]

In [34]:
sorted(numbers, key = lambda x: x[1])

[[5, -1, 0], [10, 1, 2], [3, 3, 3], [3, 6, 7]]

In [35]:
numbers.sort(key = lambda x: x[0])

In [36]:
numbers

[[3, 6, 7], [3, 3, 3], [5, -1, 0], [10, 1, 2]]

In [37]:
print(*numbers, sep = '\n')

[3, 6, 7]
[3, 3, 3]
[5, -1, 0]
[10, 1, 2]

In [38]:
for number in numbers:
    print(*number, sep = ' ')

3 6 7
3 3 3
5 -1 0
10 1 2

In [39]:
print(*(' '.join(list(map(str, number))) for number in numbers), 
      sep = '\n')

3 6 7
3 3 3
5 -1 0
10 1 2

# 입력코드 (2)

In [40]:
numbers

[[3, 6, 7], [3, 3, 3], [5, -1, 0], [10, 1, 2]]

In [41]:
import pandas as pd

In [42]:
pd.DataFrame(numbers)

    0  1  2
0   3  6  7
1   3  3  3
2   5 -1  0
3  10  1  2

In [43]:
arr = pd.DataFrame(numbers)

In [44]:
arr

    0  1  2
0   3  6  7
1   3  3  3
2   5 -1  0
3  10  1  2

In [45]:
arr.sort_values[1]

TypeError: 'method' object is not subscriptable

In [46]:
arr.sort_values(1)

    0  1  2
2   5 -1  0
3  10  1  2
1   3  3  3
0   3  6  7

In [47]:
arr

    0  1  2
0   3  6  7
1   3  3  3
2   5 -1  0
3  10  1  2

In [48]:
arr = arr.sort_values(1)

In [49]:
print(arr)

    0  1  2
2   5 -1  0
3  10  1  2
1   3  3  3
0   3  6  7

In [50]:
arr = pd.DataFrame(arr, header = None, index = None)

TypeError: __init__() got an unexpected keyword argument 'header'

In [51]:
arr = pd.DataFrame(arr, columns = None, index = None)

In [52]:
arr

    0  1  2
2   5 -1  0
3  10  1  2
1   3  3  3
0   3  6  7

In [53]:
print(arr)

    0  1  2
2   5 -1  0
3  10  1  2
1   3  3  3
0   3  6  7

In [54]:
for _ in arr:
    print(_)

0
1
2

In [55]:
ncol(arr)

NameError: name 'ncol' is not defined

In [56]:
arr.shape

(4, 3)

In [59]:
for _ in range(arr.shape[0]):
    print(arr[_])

2     5
3    10
1     3
0     3
Name: 0, dtype: int64
2   -1
3    1
1    3
0    6
Name: 1, dtype: int64
2    0
3    2
1    3
0    7
Name: 2, dtype: int64

KeyError: 3

In [60]:
for _ in range(arr.shape[0]):
    print(arr.iloc[_])

0    5
1   -1
2    0
Name: 2, dtype: int64
0    10
1     1
2     2
Name: 3, dtype: int64
0    3
1    3
2    3
Name: 1, dtype: int64
0    3
1    6
2    7
Name: 0, dtype: int64

- ginortS

In [ ]:
import re

string = str(input())
lower = re.findall('[a-z]', string)
upper = re.findall('[A-Z]', string)
digits = re.findall('[0-9]', string)
odd = [digit for digit in digits if int(digit) % 2 == 1]
even = [digit for digit in digits if int(digit) % 2 == 0]


for cases in [lower, upper, odd, even]:
    cases.sort()

sorted_string = ''.join(lower+upper+odd+even)
print(sorted_string)

In [ ]:
### 예시답안 
print(*sorted(input(), key = lambda c: (-ord(c) >> 5, c i '02468', c)), 
     sep = '')

import string
print(*sorted(input(), key = (string.ascii_letters + '1357902468').index), sep = '')

>explanation 
I'm just trying to piece this all together by myself and I could be entirely wrong, but here I go.

"key" is setting values for each element so as to use them for comparison and subsequently sorting later on.
Each parameter in our lambda function contributes to the value of key - the order in which the parameters are aranged has to do with this but I don't know how (help please :D)
ord(c) finds the unicode point of the character we're looking at
We use >> to shift the ordinal value to less than 2 bits (so between 0 and 3 in decimal)
We set the result of this to a negative because we sort in ascending order
Basically -ord(c) >> 5 sets the values to -3 if it's a lowercase character, -2 if it's an uppercase character and -1 if it's a digit. This segregates each section of our string into uU12. From here we need to sort the numbers, so we use c in '02468' to do so. And then we use c at the end to sort the contents of each group by value.

At least that's how I think it all works. I'll wait for someone to correct me :)

- map and lambda function

In [ ]:
cube = lambda x: x***3

def fibonacci(n):
    an = 0
    an_1 = 1
    fibo = []
    for _ in range(n):
        if len(fibo) == 0:
            fibo.append(an)
        else:
            number = an + an_1
            fibo.append(number)
            an_1 = number
            an = an_1
    return fibo
    


if __name__ == '__main__':
    n = int(input())
    print(list(map(cube, fibonacci(n))))

In [65]:
def fibonacci(n):
    an = 0
    an_1 = 1
    fibo = []
    for _ in range(n):
        if len(fibo) == 0:
            fibo.append(an)
        else:
            number = an + an_1
            fibo.append(number)
            an_1 = number
            an = an_1
    return fibo

In [66]:
fibonacci(3)

[0, 1, 2]

In [67]:
fibonacci(5)

[0, 1, 2, 4, 8]

In [81]:
def fibonacci(n):
    an = 0
    an_1 = 1
    fibo = []
    for _ in range(n):
        if len(fibo) == 0:
            fibo.append(an)
        elif len(fibo) == 1:
            fibo.append(an_1)
        else:
            number = an + an_1
            fibo.append(number)
            an_1 = number
            an = an_1
            
    return fibo

In [82]:
fibonacci(3)

1

(1, [0, 1, 1])

In [83]:
fibonacci(5)

1
2
4

(4, [0, 1, 1, 2, 4])

In [84]:
def fibonacci(n):
    an = 0
    an_1 = 1
    fibo = []
    for _ in range(n):
        if len(fibo) == 0:
            fibo.append(an)
        elif len(fibo) == 1:
            fibo.append(an_1)
        else:
            number = an + an_1
            fibo.append(number)
            an_1 = number
            an = an_1
            
    return fibo

In [85]:
fibonacci(5)

AttributeError: 'int' object has no attribute 'copy'

In [87]:
import copy

In [88]:
copy.copy(5)

5

In [89]:
a = copy.copy(5)

In [90]:
a

5

In [93]:
b = 10

In [94]:
a = copy.copy(b)

In [95]:
a

10

In [96]:
import copy 

def fibonacci(n):
    an = 0
    an_1 = 1
    fibo = []
    for _ in range(n):
        if len(fibo) == 0:
            fibo.append(an)
        elif len(fibo) == 1:
            fibo.append(an_1)
        else:
            number = an + an_1
            fibo.append(number)
            an_1 = copy.copy(number)
            an = copy.copy(an_1)
            
    return fibo

In [98]:
fibonacci(5)

[0, 1, 1, 2, 4]

# 입력코드 (1)

In [ ]:
cube = lambda x: x***3complete the lambda function 

def fibonacci(n):
    fibonacci_numbers = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34,
 55, 89, 144, 233, 377]
    return fibonacci[:n]
 
    # return a list of fibonacci numbers

if __name__ == '__main__':
    n = int(input())
    print(list(map(cube, fibonacci(n))))

# 입력코드 (2)

In [ ]:
cube = lambda x: x**3

def fibonacci(n):
    fibonacci_numbers = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34,
 55, 89, 144, 233, 377]
    return fibonacci[:n]
 
    # return a list of fibonacci numbers

if __name__ == '__main__':
    n = int(input())
    print(list(map(cube, fibonacci(n))))

# 입력코드 (3)

In [ ]:
cube = lambda x: x**3

def fibonacci(n):
    fibonacci_numbers = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34,
 55, 89, 144, 233, 377]
    return fibonacci_numbers[:n]
 
    # return a list of fibonacci numbers

if __name__ == '__main__':
    n = int(input())
    print(list(map(cube, fibonacci(n))))